.cover__link {
    background-size: cover;
    background-position: center center;
    max-width: 1184px;
    height: auto;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
    position: relative;
    color: #FFFFFF;
}