.places {
    display: flex;
    flex-direction: column;
    gap: 80px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .places {
        gap: 73px;
    }
}

@media screen and (max-width: 465px) {
    .places {
        gap: 50px;
    }
}