.lead {
    color: #FFFFFF;
    padding: 28px 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .lead {
        padding: 28px 0;
    }
}