.lead {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 984px;
    padding-bottom: 92px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .lead {
        padding-bottom: 88px;
    }    
}

@media screen and (max-width: 425px) {
    .lead {
        padding-bottom: 64px;
    }    
}