.cover {
    color: #FFFFFF;
    max-width: 1184px;
    padding-bottom: 92px;
    margin: 0 auto;
}


@media screen and (max-width: 1024px) {
    .cover {
        width: 100vw;
        margin-left: -48px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-left: -24px;
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        margin-left: -16px;
        padding-bottom: 64px;
    }
}