.place__url-heading{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0;
}

@media screen and (max-width: 465px) {
    .place__url-heading {
        padding-left: 16px;
        padding-right: 16px;
    }
}